/* Padronização */
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fffffe;
}

body {
    background-color: #16161a;
}

div.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .hi, .container .whois {
    position: relative;
    font-size: 10vw;
    text-transform: uppercase;
}

ul.midias {
    display: flex;
    margin-top: 5vw;
    border-bottom: solid 3px;
}

ul.midias li{
    list-style: none;
    margin: 0px 15px 15px 15px;
}
 
ul.midias li a {
    
    text-decoration: none;
    position: relative;
}

ul.midias li a img{
    width: 2em;
    transition: all .1s ease-in-out;
    user-select: none;
}

ul.midias li a img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 600px){
    .container .hi, .container .whois {
        font-size: 12vw;
    }

    ul.midias li a img{
        width: 1.3em;
    }
}


/* ------>> Logos <<------- */

.container img.logo {
    position: absolute;
    width: 8vw;
    user-select: none;
}

.container img.logo_js {
    transform: translate(26vw, -8vw);
}

.container img.logo_py {
    transform: translate(-29vw, -9vw);
}

.container img.logo_html {
    transform: translate(-10vw, -14vw);
}

.container img.logo_opensource {
    transform: translate(10vw, -12vw);
}

.container img.logo_css {
    transform: translate(-35vw, 5vw);
}

.container img.logo_mysql {
    transform: translate(-15vw, 10vw);
}

.container img.logo_php {
    transform: translate(16vw, 10vw);
}

.container img.logo_github {
    transform: translate(33vw, 6vw);
}

@media screen and (max-width: 720px){
    .container img.logo {
        width: 9.2vw;
    }

    .container img.logo_js {
        transform: translate(28vw, -11vw);
    }
    
    .container img.logo_py {
        transform: translate(-29vw, -12vw);
    }
    
    .container img.logo_html {
        transform: translate(-13vw, -14vw);
    }
    
    .container img.logo_opensource {
        transform: translate(10vw, -16vw);
    }
    
    .container img.logo_css {
        transform: translate(-35vw, 5vw);
    }
    
    .container img.logo_mysql {
        transform: translate(-16vw, 8vw);
    }
    
    .container img.logo_php {
        transform: translate(16vw, 8vw);
    }
    
    .container img.logo_github {
        transform: translate(33vw, 6vw);
    }
}
